# Python & Environments
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# OS Files & Secrets
.DS_Store
.env

# DVC System Files
.dvc/config.local
.dvc/tmp/
.dvc/cache/

# MLOps Generated Artifacts (Handled by DVC & MLflow)
logs/
metrics/*.json
models/
!models/features.json
!models/metadata.json
mlruns/
reports/

# Data Folders (Raw & Interim)
# Note: DVC automatically handles ignoring processed data via pipeline outputs
data/interim/
data/raw/
data/features/
data/validated_features/
data/processed/